@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    height: 100vh;
    margin: auto;

}

/* utility classes */
.flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputs-container {

}